/.cache/
/auto-save-list/
/bookmarks
/bookmarks.eld
/network-security
/network-security.eld
/elpa/
/elpa*/
/eshell/
/history
/places
/places.eld
/recentf
/recentf.eld
/request/
/tramp
/transient/
/url/
/var/
/workspace/
/async-bytecomp.log
/eln-cache/
/tree-sitter/
/projects
/projects.eld
/site-lisp/default.el
/.persistent-scratch
/persistent-scratch/
/reverse-im-cache.el
/custom.el
/undo-fu-session/
/.emacs*.desktop
/.emacs*.desktop.lock
/quelpa/
/dirvish/
/dape-breakpoints
/easysession/
/.chatgpt-shell.el
/recall
/mason/
/elpaca/
/user-lisp/**/*.elc
/user-lisp/**/*-autoloads.el
/agent/
/.agent-shell/
